# Case When in SQL

### Introduction

### Loading our Data

For this lesson, let's work with the case when statement in SQL.  We can load the data into our database with the following.

In [10]:
import pandas as pd
df = pd.read_csv('./lunches.csv', index_col = 0)

In [11]:
import sqlite3
conn = sqlite3.connect('./yelp.db')

In [12]:
cursor = conn.cursor()

In [ ]:
df['id'] = df.index

In [ ]:
df = df[['id', 'Name', 'Address', 'City', 'Category', 'Rating', 'URL']]

In [ ]:
df.to_sql('restaurants', conn, index = False, if_exists = 'replace')

And then we can confirm that data is loaded into the database with the following.

In [22]:
pd.read_sql("SELECT COALESCE(name, 'na') FROM restaurants LIMIT 1", conn)

  COALESCE(name, 'na')
0       Rambling House

In [ ]:
Now if we